* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body{
  background: #5BBCFF;
  color: #1C1678;
}

h1{
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}
.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 80px;
  background: #95d0fb;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.container input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #1C1678;
  font-size: 18px;
  padding: 0 30px;
}

.container button{
  padding: 0 40px;
  height: 100%;
  background: #1C1678;
  color: #5BBCFF;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

::placeholder{
  color: #271f9e;
  font-size: 18px;
}

